body {
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
    max-width: 986px;
    margin: 20px;
}

.container {
    display:grid;
    width:500px;
    height:500px;
    background-color: aliceblue;
}

.gridCell{
    padding:0px;
    border:1px solid darkgray;
    transition: 1s ease-out 0s;
}

.gridCell:hover{
    background-color: tomato;
}

.colorChanger{
    background-color: tomato;
}

.btn{
    margin:10px;
    padding:4px;
}

.footer{
    display: flex;
    margin-top:auto;
}